<div class="row">
  <div class="col-md-12">
      <%= f.input :name, label: 'Nome', error:  'Campo Nome é obrigatório' %>
      <%= f.input :email, placeholder: 'user@domain.com', as: :email,
        error: 'Campo Email é obrigatório' %>

  </div>
</div>
