<div class="page-header">
    <h1><%="Obrigado  #{@user.name} por se cadastrar"%></h1>
</div>
<div class="row">
  <p>Indique amigos para concorrer e aumente suas chances.

  <hr>

  <%= link_to "Indicar", edit_user_path(@user), class: 'btn btn-primary' %>
</div>
